.idea
.bsp
.metals
.vscode
.bloop
metals.sbt
target
project/target

.DS_Store

cli/cli-npm/aqua.j*
language-server/language-server-npm/aqua-lsp-api.j*
api/api-npm/api-js

integration-tests/src/compiled/*

**/dist
**/node_modules
