.idea
.bsp
.metals
.vscode
.bloop
metals.sbt
target
project/target

.DS_Store

cli/cli-npm/aqua.js*
language-server/language-server-npm/cli-npm/aqua-lsp-api.js*
api/aqua-api-npm/aqua-api.js*
**/node_modules
